---
---

<div class="article">
    <div class="row content-subhead">
        about
    </div>

    <div class="row content-main">
        <p>
            <!-- Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur placeat expedita consectetur aperiam recusandae esse voluptates sit eligendi ratione pariatur fugit, obcaecati illo earum ad id, ipsum cum vitae ducimus? -->
            <!-- テストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテスト -->
            горничная в пустоте
        </p>
    </div>
</div>

<style>
    .row {
        margin: 1em auto;
        /* max-width: 500px; */
        word-break: break-all;
    }

    .row.content-subhead {
        font-style: italic;
        font-weight: bold;
        font-size: 2.0em;
        /* letter-spacing: 0.05em; */
        padding: 0.3em 0;
        border-bottom: 1px solid #909090;
    }

    .row.content-main {
        font-family: Consolas, 'Courier New', 'メイリオ';
    }
</style>