---
import { CldImage } from 'astro-cloudinary';
---

<div class="main-content">
    <!-- <CldImage
        src="https://res.cloudinary.com/djcstdyuv/image/upload/c_thumb,w_200,g_face/v1744300757/29_qg3kup.png"
        alt="<Description>"
    /> -->
</div>

<style>
    .main-content {
        flex: 1;
        background-color: #ffffff;
    }
</style>