---
---

<div class="rfooter">
    Copyright(C) 2025 ror
</div>

<style>
    .rfooter {
        list-style: none;
        font-style: italic;
        font-size: 1em;
        letter-spacing: 0.05em;

        /* あとでちゃんと書く */
        /* width: 200px; */
    }
</style>