---
import Post from '../components/Post.astro';

const tempDesc = "Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis modi laudantium do";
const posts = [
    {srcUrl: "https://res.cloudinary.com/djcstdyuv/image/upload/c_thumb,w_200,g_face/v1744501076/IMG_0566_prkukx.jpg", srcType: "cloudinary", description: ""},
    {srcUrl: "https://res.cloudinary.com/djcstdyuv/image/upload/c_thumb,w_200,g_face/v1744300745/28_gaakh6.png", srcType: "cloudinary", description: ""},
    {srcUrl: "https://res.cloudinary.com/djcstdyuv/image/upload/c_thumb,w_200,g_face/v1744300749/27_maisqf.png", srcType: "cloudinary", description: ""},
    {srcUrl: "https://youtu.be/YUzeRKgDMXk?si=v6CRjrJPdWDEDnza", srcType: "youtube", description: tempDesc},
    {srcUrl: "https://res.cloudinary.com/djcstdyuv/image/upload/c_thumb,w_200,g_face/v1744300761/24_azuaog.png", srcType: "cloudinary", description: ""},
    {srcUrl: "https://res.cloudinary.com/djcstdyuv/image/upload/c_thumb,w_200,g_face/v1744300749/32_urilos.png", srcType: "cloudinary", description: ""},
    {srcUrl: "https://res.cloudinary.com/djcstdyuv/image/upload/c_thumb,w_200,g_face/v1744300726/26_py9pf9.png", srcType: "cloudinary", description: ""},
    {srcUrl: "https://youtu.be/TWxwsYGG0Gg?si=j-MBjkQAGn7AKELQ", srcType: "youtube", description: tempDesc},
]
---

<div class="gallery size-fit mx-auto p-8 gap-x-4 columns-1 lg:columns-2 2xl:columns-3">
    {
        posts.map((post) => (
            <Post srcUrl={post.srcUrl} descripton={post.description} srcType={post.srcType} />
        ))
    }
</div>
