---
import { late } from 'astro:schema';
// import Logo from '../assets/nikto_with_sub.svg';
import Logo from '../assets/nikto_nosub.svg';
---

<div class="logo pb-4">
    <a href="/">
        <Logo width={200} />
    </a>
</div>