---
import { CldImage } from 'astro-cloudinary';
import { YouTube } from 'astro-embed';

interface Props {
    srcUrl: string,
    descripton: string,
    srcType: string
}

const { srcUrl, descripton, srcType } = Astro.props;

const tempTags = ["works", "style1"];
---

<div class="post">
    <div class="post-attr post-controls">
        <div class="post-title">
            <p>пост</p>
        </div>
    </div>
    <div class="post-content">
        <!-- todo: 処理を共通化し、画像、動画の場合に対応する -->
        {
            () => {
                if (srcType === "cloudinary") {
                    return <CldImage src={srcUrl} width={350} alt="<Description>" />
                } else if (srcType === "youtube") {
                    return <YouTube id={srcUrl} />
                } else {
                    return <p>none</p>
                }
            }
        }
    </div>
    <!-- todo: 引数でdescが与えられた場合のみ描画 ifで分岐 -->
    <div class="post-attr post-description">
        {descripton}
    </div>
    <div class="post-attr post-tags">
        <ul class="tags-container">
            {
                tempTags.map((tag) => (
                    <li class="tag">
                        <a href="#" class="tag-link">{"#" + tag}</a>
                    </li>
                ))
            }
        </ul>
    </div>
</div>

<style>
    .post {
        width: 350px;
        padding: 0;
        margin: 5px;
        border: 1px solid #1d1d1d;

        list-style: none;
        font-style: italic;
        /* font-weight: bold; */
        /* font-size: 1.1em; */
        letter-spacing: 0.1em;
    }

    .post-attr {
        padding: 0.3em;
    }

    .post-controls {
        border-bottom: 1px solid #1d1d1d;
    }

    .post-content {
        border-bottom: 1px solid #1d1d1d;
    }

    .astro-cloudinary-cldimage {
        vertical-align: bottom;
    }

    /* 100%だとブラウザ上で100%表示の際に下線が消えてしまう */
    .post-content lite-youtube::after {
        padding-bottom: calc(95% /(16 / 9));
    }

    .post-description {
        border-bottom: 1px solid #1d1d1d;
    }

    .tags-container {
        display: flex;
    }

    .tag {
        margin-right: 5px;
    }

</style>