---
import { CldImage } from 'astro-cloudinary';
import { YouTube } from 'astro-embed';

interface Props {
    srcUrl: string,
    descripton: string,
    srcType: string
}

const { srcUrl, descripton, srcType } = Astro.props;

const tempTags = ["works", "style1"];
---

<div class="post w-xl lg:w-80 mb-1 break-inside-avoid-column">
    <div class="post-attr post-controls">
        <div class="post-title">
            <p>пост</p>
        </div>
    </div>

    <div class="post-content">
        {
            () => {
                if (srcType === "cloudinary") {
                    return <CldImage src={srcUrl} width={350} alt="<Description>" />
                } else if (srcType === "youtube") {
                    return <YouTube id={srcUrl} />
                } else {
                    return <p>none</p>
                }
            }
        }
    </div>

    {
        () => {
          if (descripton === ""){
            return <div class="post-attr post-description hidden"></div>
          } else {
            return <div class="post-attr post-description">{descripton}</div>
          }
        }
    }

    <div class="post-attr post-tags">
        <ul class="tags-container">
            {
                tempTags.map((tag) => (
                    <li class="tag">
                        <a href="#" class="tag-link">{"#" + tag}</a>
                    </li>
                ))
            }
        </ul>
    </div>
</div>

<style>
    .post {
        border: 1px solid #1d1d1d;

        list-style: none;
        font-style: italic;
        letter-spacing: 0.1em;
    }

    .post-attr {
        padding: 0.3em;
    }

    .post-controls {
        border-bottom: 1px solid #1d1d1d;
    }

    .post-content {
        border-bottom: 1px solid #1d1d1d;
    }

    .astro-cloudinary-cldimage {
        vertical-align: bottom;
    }

    /* 100%だとブラウザ上で100%表示の際に下線が消えてしまう */
    .post-content lite-youtube::after {
        padding-bottom: calc(95% /(16 / 9));
    }

    .post-description {
        border-bottom: 1px solid #1d1d1d;
    }

    .tags-container {
        display: flex;
    }

    .tag {
        margin-right: 5px;
    }

    a:link,a:active,a:visited {
        color: #000000;
        text-decoration: none;
    }

    a:hover {
        text-decoration: underline;
    }

</style>