---
import { late } from 'astro:schema';
// import Logo from '../assets/nikto_with_sub.svg';
import Logo from '../assets/nikto_nosub.svg';

const menuItems = [
    {
        id: "about",
        nameEn: "about"
    },
    {
        id: "works",
        nameEn: "works"
    },
    {
        id: "x",
        nameEn: "x"
    },
];
---

<div class="sidebar">
    <div class="sidebar-container">
        <div class="logo">
            <Logo width={200} />
        </div>
        
        <div class="menu">
            <ul class="menu-list">
                {
                    menuItems.map((item) => (
                        <li class="menu-item">
                            <a href="#" class="menu-link">{item.nameEn}</a>
                        </li>
                    ))
                }
            </ul>
        </div>
    </div>
</div>

<style>
    .sidebar {
        background-color: #f6f0f7;
        width: 500px;
        /* position: fixed; */
    }

    .sidebar-container {
        /* margin: 0 auto; */
        /* padding: 2em 3em 0;
        margin-left: 25%; */
    }

    .menu-list {
        list-style: none;
    }

    .menu-link {
        display: block;
        text-decoration: none;
        white-space: nowrap;
    }

    a:link,a:active,a:visited {
        color: #000000;
        text-decoration: none;
    }

    a:hover {
        text-decoration: underline;
    }
</style>