---

---

<div class="contents">
    <slot />
</div>

<style>
    .contents {
        /* flex: 1;
        width: 70%; */
        background-color: #e3e4e2;
        /* background-color: #ffffff; */
    }
</style>