---
import "the-new-css-reset";
---

<!doctype html>
<html lang="ja">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>nikto</title>
	</head>
	<body>
		<div class="container">
			<slot />
		</div>
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		font-family: 'Times New Roman', Consolas, 'Courier New', 'メイリオ', 'Meiryo', 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3', sans-serif;
	}

	.container {
		display: flex;
		min-height: 100vh;
	}

	@media (min-width: 767px) {
		.sidebar {
			width: 25%;
		}
		.contents {
			width: 75%;
		}
	}
	/* @media (max-width: 767px) {
		.sidebar,
		.contents {
			width: 100%;
		}
	} */
</style>
