---
import { late } from 'astro:schema';
import MenuList from '../components/MenuList.astro';
import LogoLink from '../components/LogoLink.astro';
import Footer from '../components/Footer.astro';
---

<div class="sidebar h-screen sticky top-0 flex flex-col lg:w-1/4">
    <div class="sidebar-container w-[200px] pt-8 mx-auto">
        <LogoLink />
        <MenuList />
    </div>
    <div class="footer-container w-[200px] content-end grow pb-8 mx-auto">
        <Footer />
    </div>
</div>

<style>
    .sidebar {
        border-right: 1px solid #1d1d1d;
    }
</style>