---
import { late } from 'astro:schema';
import MenuList from '../components/MenuList.astro';
import LogoLink from '../components/LogoLink.astro';
---

<div class="sidebar w-1/3 flex flex-col justify-center">
    <div class="sidebar-container w-3xs mx-auto">
        <LogoLink />
        <MenuList />
    </div>
</div>

<style>
    .sidebar {
        /* background-color: #e3e4e2; */

        /* justify-content: center;
        align-items: center; */

        border-right: 1px solid #1d1d1d;
    }

    /* .sidebar-container {
        align-items: left;
        gap: 20px;
        width: 300px;
    } */
</style>