---
import { late } from 'astro:schema';
import MenuList from '../components/MenuList.astro';
import LogoLink from '../components/LogoLink.astro';
---

<div class="sidebar flex flex-col lg:w-1/4">
        <div class="sidebar-container size-fit mx-auto">
        <LogoLink />
        <MenuList />
    </div>
</div>

<style>
    .sidebar {
        border-right: 1px solid #1d1d1d;
    }
</style>