---
import { late } from 'astro:schema';
import MenuList from '../components/MenuList.astro';
import LogoLink from '../components/LogoLink.astro';
---

<div class="sidebar w-1/4 flex flex-col">
    <div class="sidebar-container w-3xs mx-auto">
        <LogoLink />
        <MenuList />
    </div>
</div>

<style>
    .sidebar {
        border-right: 1px solid #1d1d1d;
    }
</style>